:root {
  --azul: #3772FF;
  --verde: #36D6AD;
  --coral: #FC7071;
  --coral-hover: #FF9D9E;
  --creme: #FCF0E3;
  --cinza-escuro: #737380;
  --cinza-claro: #BCBCBC;
  --cinza-fundo: #F6F6F6;



  --familia-corpo: 'Poppins', sans-serif;


  --peso-titulo: 600;
  --peso-corpo: 400;

}