.cabecalho {
  background: url(../img/header-shape.png);

  background-repeat: no-repeat;
  height: 18rem;
  width: 100%;
}

.cabecalho--azul {
  background-color: var(--azul);
}

.cabecalho__menu {
  display: flex;
}

.cabecalho__link {
  margin-left: 3rem;
  margin-top: 3rem;
}

.cabecalho__link:last-of-type {
  margin-top: 2.5rem;
}

.cabecalho__link--home {
  background-image: url(../img/house.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.25rem;
  width: 1.25rem;

}

.cabecalho__link--message {
  background-image: url(../img/message.svg);
  background-size: contain;
  background-repeat: no-repeat;
  height: 1.25rem;
  width: 1.25rem;
}

.cabecalho__link--user {
  background-image: url(../img/user.png);
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6.378rem;
  height: 2.5rem;
  width: 2.5rem;
}

.cabecalho__patas--ativo {
  background-image: url(../img/paws.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position-x: 100%;
  height: 15.213rem;
  position: absolute;
  right: 0;

  width: 11.873rem;
}