.mensagem__texto {
  color: var(--azul);
  line-height: 1.25rem;
  margin: -8rem 4.188rem 2rem 4.188rem;
  text-align: center;
}

.mensagem__cartao {
  background-color: #F7F7F7;
  border-radius: 10px;
  margin: 1.5rem 1.5rem 1rem 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;

}

.mensagem__form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}


.mensagem__label {
  color: var(--azul);
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.mensagem__form .input {
  box-sizing: border-box;
  color: #737380;
  font-size: 0.75rem;
  height: 3rem;
  margin-bottom: 1.313rem;
  margin-top: 4px;
  padding-left: 1rem;
  text-align: start;
  width: 100%;
}

.mensagem__form .botao {
  align-self: center;
  margin-bottom: 3rem;

}

.perfil__ativo {
  background-image: url(../img/perfil-joana.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 2.5rem;
  margin-left: 6.378rem;
  width: 2.5rem;
}

.perfil__titulo {
  color: var(--cinza-escuro);
  font-size: 1.313rem;
  font-weight: 600;
  padding-top: 2rem;
  text-align: center;
}

.perfil__foto {
  align-self: center;
}

.perfil__foto--info {
  color: var(--coral);
  line-height: 1.5rem;
  font-size: 0.75rem;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .mensagem {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mensagem__cartao {
    width: 32.75rem;
  }

  .mensagem__splash {
    background-image: url(../img/home-right-splash.png);
    background-position-x: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 41.5rem;
    left: auto;
    position: absolute;
    right: 0rem;
    top: 16.75rem;
    width: 8.375rem;
    z-index: -1;
  }

  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

}

@media screen and (min-width: 1440px) {
  .mensagem__cartao {
    width: 34.5rem;
  }
}