.inicial {
  background-color: var(--azul);
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.principal>h1 {
  display: flex;
  justify-content: center;
}

.principal__logo {
  background-image: url(../img/logo-adopet.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 2.875rem;
  margin-bottom: 1.5rem;
  margin-top: -7rem;
  width: 11.625rem;
}

.principal__titulo {
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 1.625rem;
  font-weight: 500;
  text-align: center;
}

.principal__texto--mobile {
  color: white;
  display: block;
  line-height: 2rem;
  text-align: center;
  margin: 1rem 3.5rem 2rem 3.5rem;

}

.principal__texto {
  display: none;
}

.principal>.botao {
  margin-left: 5.625rem;
}

.principal__splash {
  background-image: url(../img/home-right-splash.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  position: absolute;
  height: 25.938rem;
  top: 12.5rem;
  right: 0rem;
  width: 5.252rem;
}

.principal__imagem {
  background-image: url(../img/cat-and-dog.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 19.5rem;
  width: 15.438rem;
  margin: 2rem 4.938rem -1rem 2rem;
}

@media screen and (min-width: 768px) {
  .principal {
    display: flex;
    flex-direction: column;
  }

  /* Preciso alterar a forma de posicionar esse logo */
  .principal__logo {
    height: 3.875rem;
    margin-top: -11rem;
    width: 15.724rem;
  }

  .principal__titulo {
    font-size: 1.75rem;
    font-weight: 500;
    text-align: center;
  }

  .principal__texto--mobile {
    display: none;
  }

  .principal__texto {
    color: white;
    display: block;
    font-size: 1.125rem;
    line-height: 1.625rem;
    margin: 1.5rem 13.375rem 2.375rem 13.375rem;
    text-align: center;

  }

  .principal__splash {
    background-size: contain;
    background-position-x: 100%;
    position: absolute;
    height: 41.5rem;
    top: 16.75rem;
    right: 0rem;
    width: 8.375rem;
  }

  .principal__imagem {
    height: 26.375rem;
    width: 21.143rem;
    margin: 2rem 14.67rem -2rem 13.5rem;
    z-index: -1;
  }


}